# requirements.txt (python3用の仮想環境構築のための設定)

pip                               # PIP の基本機能
wheel                             # PIP の基本機能
icecream                          # デバッグ
colormath                         # 色彩科学
scipy                             # 科学技術計算
# numpy deps scipy                # 行列計算     
scikit-learn                      # 機械学習
pandas                            # 表データ処理
geopandas                         # 地理的データ処理
networkx                          # グラフデータ処理
xlrd                              # Excel形式データ処理
openpyxl                          # Excel形式データ処理
tabulate                          # 表データ出力
Flask                             # ウェブアプリケーション基盤
Flask-Cors                        # ウェブアプリケーション基盤
bokeh                             # 情報可視化
# Pillow deps bokeh               # 画像処理        
jupyterlab                        # ノートブック環境
# Jinja2 deps jupyterlab          # テンプレートライブラリ
sqlalchemy                        # SQL
sympy                             # 数式処理
